<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= workout.name %>
  </title>
  <link rel="stylesheet" href="/gym-app/css/style.css">
  <script src="/gym-app/js/activeWorkoutTimer.js"></script>
  <script type="module" src="/gym-app/js/restTimer.js"></script>
</head>

<body>
  <h1>
    Active Workout: <%= workout.name %>
  </h1>

  <div id="timer">
    <h2>You have been working out for:</h2>
    <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
  </div>

  <% workout.exercises.forEach(function(exercise, index) { %>
    <div class="exerciseContainer">
      <h3>Exercise <%= index + 1 %>:</h3>
      <h2>
        <%= exercise.name %>
      </h2>

      <% exercise.warmupSets.forEach(function(set) { %>
        <div class="set">
          <%= set %>
        </div>
        <% }) %>

          <% exercise.workingSets.forEach(function(set) { %>
            <div class="set">
              <%= set %>
            </div>
            <% }) %>
    </div>
    <% }) %>

      <a href="/gym-app/" id="backToHomeButton" class="button-style">Back to home</a>

      <div id="restTimerContainer">
        <h2>Rest Timer:</h2>
        <button id="restTimerResetButton">Reset</button>
        <span id="restMinutes">00</span>:<span id="restSeconds">00</span>
        <button id="restTimerActionButton">Start</button>
      </div>
</body>

</html>