<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= workout.name %>
  </title>
  <link rel="stylesheet" href="/gym-app/css/style.css">
</head>

<body>
  <h1>
    Editing Workout: <%= workout.name %>
  </h1>

  <% workout.exercises.forEach(function(exercise, index) { %>
    <div class="exerciseContainer">
      <h3>Exercise <%= index + 1 %>:</h3>
      <h2>
        <%= exercise.name %>
      </h2>

      <% exercise.warmupSets.forEach(function(set) { %>
        <div class="set">
          <%= set %>
        </div>
        <% }) %>

          <% exercise.workingSets.forEach(function(set) { %>
            <div class="set">
              <%= set %>
            </div>
            <% }) %>

              <a href="/gym-app/editWorkout/removeExercise/<%= workout.name %>/<%= exercise.name %>"
                id="removeExerciseButton" class="button-style">Remove Exercise</a>
    </div>
    <% }) %>
      <a href="/gym-app/editWorkout/addExercise/<%= workout.name %>" id="addExerciseButton" class="button-style">Add
        Exercise</a>
      <br>
      <a href="/gym-app/listAllWorkouts/<%= workout.name %>" id="backToWorkoutButton" class="button-style">Back to
        workout</a>
</body>

</html>