<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= workout.name %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>
    Editing Workout: <%= workout.name %>
  </h1>

  <% workout.exercises.forEach(function(exercise, index) { %>
    <div class="exerciseContainer">
      <h3>Exercise <%= index + 1 %>:</h3>
      <h2>
        <%= exercise.name %>
      </h2>

      <% exercise.warmupSets.forEach(function(set) { %>
        <div class="set">
          <%= set %>
        </div>
        <% }) %>

          <% exercise.workingSets.forEach(function(set) { %>
            <div class="set">
              <%= set %>
            </div>
            <% }) %>
    </div>
    <% }) %>
      <a href="addExercise/<%= workout.name %>" id="addExerciseButton" class="button-style">Add Exercise</a>
      <a href="removeExercise/<%= workout.name %>" id="removeExerciseButton" class="button-style">Remove Exercise</a>
      <br>
      <a href="/listWorkouts" id="backToWorkoutsButton" class="button-style">Back to Workouts</a>
</body>

</html>