<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Confirm Delete </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <p>Are you sure you want to delete the following Exercise from workout <%= workout.name %>?</p>
  <h2>
    <%= exercise.name %>
  </h2>

  <form action="/editWorkout/removeExercise/<%= workout.name %>" method="POST">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <button type="submit">Confirm Deletion</button>
  </form>

  <a href="/editWorkout/<%= workout.name %>" class="button-style">Cancel</a>
</body>

</html>