<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= workout.name %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>
    <%= workout.name %>
  </h1>

  <% workout.exercises.forEach(function(exercise) { %>
    <div class="exercise">
      <h2>
        <%= exercise.name %>
      </h2>
      <% exercise.warmupSets.forEach(function(set) { %>
        <div>
          <%= set %>
        </div>
        <% }) %>
          <% exercise.workingSets.forEach(function(set) { %>
            <div>
              <%= set %>
            </div>
            <% }) %>
    </div>
    <% }) %>

      <a href="/listWorkouts/workout/<%= workout.name %>/editWorkout" id="editWorkoutButton" class="button-style">Edit Workout</a> <br>
      <a href="/viewWorkouts" id="backToWorkoutsButton" class="button-style">Back to Workouts</a>
</body>

</html>