<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= workout.name %>
  </title>
  <link rel="stylesheet" href="/gym-app/css/style.css">
</head>

<body>
  <h1>
    Showing Workout: <%= workout.name %>
  </h1>

  <% workout.exercises.forEach(function(exercise, index) { %>
    <div class="exerciseContainer">
      <h3>Exercise <%= index + 1 %>:</h3>
      <h2>
        <%= exercise.name %>
      </h2>

      <% exercise.warmupSets.forEach(function(set) { %>
        <div class="set">
          <%= set %>
        </div>
        <% }) %>

          <% exercise.workingSets.forEach(function(set) { %>
            <div class="set">
              <%= set %>
            </div>
            <% }) %>
    </div>
    <% }) %>

      <a href="/gym-app/editWorkout/<%= workout.name %>" id="editWorkoutButton" class="button-style">Edit workout</a> <br>
      <a href="/gym-app/deleteWorkout/<%= workout.name %>" id="deleteWorkoutButton" class="button-style">Delete workout</a> <br>
      <a href="/gym-app/listAllWorkouts" id="backToWorkoutsButton" class="button-style">Back to all workouts</a>
</body>

</html>